# Installer
FORCE_REINSTALL="false"

# Git
GIT_EMAIL="john.doe@foo.bar"
GIT_USER="John Doe"

# Github
GITHUB_USERNAME="john.doe"

# A pass phrase for singing keys - make sure to escape $, in case of any.
PASS_PHRASE="b0tt0m.\$ecreT"

# Installation profiles
# The values can be one of the following:
# - private
# - work
PROFILE="private"
