.DS_Store
/.idea
/.vscode

.env
*.lock.json
*.log

/stow/.config/broot/
/stow/.config/fsh/
/stow/.config/github-copilot/
/stow/.config/homebrew/
/stow/.config/k9s/
/stow/.config/tmux/plugins/
/stow/.config/yazi/
/stow/.config/zed/
/stow/.config/zsh/local/
/stow/.config/zsh/.zcompdump*
/stow/.local/share/gnupg/
/stow/.ssh/
themes/
!tmux/themes/

!*.lua
!*.y*ml
!*.toml
!Brewfile
!config
!*.conf
