.DS_Store
/.idea
/.vscode

.env
.zcompdump*
*.lock.json
*.log
private-*
work-*

/stow/.config/broot/
/stow/.config/containers/
/stow/.config/fsh/
/stow/.config/git/*-config
/stow/.config/github-copilot/
/stow/.config/homebrew/
/stow/.config/k9s/
/stow/.config/nushell/
/stow/.config/tmux/plugins/
/stow/.config/yazi/
/stow/.config/zed/
/stow/.config/zsh/local/
/stow/.config/zsh/.zsh_sessions/
/stow/.local/
/stow/.ssh/
themes/
!tmux/themes/

!*.conf
!*.dist
!*.lua
!*.y*ml
!*.toml
!Brewfile
!conf.d/
!config
